// Light color scheme
	$text: #0d0502;
	$background: #ffffff;
	$background-accent: #f1f1f0;
	$primary: #ea8c66;
	$secondary: #f3bfaa;
	$accent: #b84619;

// Dark color scheme
	// $text: #fafafa;
	// $background: #050505;
	// $background-accent: #000000;
	// $primary: #ea8c66;
	// $secondary: #84422a;
	// $accent: #ed9978;


// Neutralne
	$gradient: linear-gradient(120deg, $primary, $accent);
	$test: #f10000;

// Fontsizes
$h1: 48px;
$h2: 32px;
$subtitle: 24px;
$p: 18px;
$sub: 16px;
$small: 14px;

body {
	background-color: $background-accent;
	margin: 0;
	font-family: 'Inter', sans-serif;
}
main {
	max-width: 1920px;
	width: calc(100% - 280px);
	padding: 0 70px;
	margin: 0 auto;
	background-color: $background;
	min-height: 100vh;
}
a {
	color: $text;
	text-decoration: none;
}
h1 {
	font-size: $h1;
	color: $text;
}
h2 {
	font-size: $h2;
	color: $text;
	font-weight: 500;
	opacity: 0.8;
	// width: 50%;
	// line-height: 130%;
}

h3{
	font-size: $subtitle;
	font-weight: 500;
	opacity: 0.8;
}
.color-effect {
	background: linear-gradient(120deg, #ea8c66, #b84619);
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Nav bar
nav {
	z-index: 100;
	padding: 10px 0px;
	font-size: 22px;
}

nav .nav-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}
nav .nav-link{
	border-bottom: 4px solid transparent;
	padding: 8px;
	display: flex;
	align-items: center;
	fill: $accent;
}
nav .nav-link svg{
	margin-right: 12px;
}
nav .nav-link:hover{
	border-bottom: 4px solid;
	border-image-slice: 1;
	border-width: 4px;
	border-image-source: $gradient;
	border-radius: 3px;
	transition: 600ms all;
}

// Logged out style
nav .login-link, nav .signup-link {
	padding: 10px 12px;
	border-radius: 6px;
}
nav .login-link:hover, nav .signup-link:hover {
	opacity: 0.85;
	transition: 300ms opacity;
}
nav .login-link {
	margin-right: 20px;
	background-color: $primary;
}

nav .signup-link {	
	background-color: $secondary;	
}

// Loged in style
nav .account span {
	color: $primary;
	padding: 8px 12px;
}
nav .account svg {
	fill: $primary;
}
nav .account .chevron{
	transition: 300ms all;
}

nav .account:hover .chevron{
	transform: rotate(180deg);
}

//
nav .account .settings-dropdown{
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	transition: 300ms all;
}
nav .account:hover .settings-dropdown{
	height: auto;
	opacity: 1;
	margin-top: 16px;
	// transform: translate(-50px, 0px);
}
nav .account:hover .settings-dropdown-background{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $primary;
	opacity: 0.6;
	z-index: 1;
	transform: translate(0, -100%);
	border-radius: 0 0 10px 10px;
}
nav .account:hover .settings-dropdown ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}

nav .account:hover .settings-dropdown ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 16px;
	border-bottom: 4px solid transparent;
	z-index: 2;
}

nav .account:hover .settings-dropdown ul li:hover{
	border-bottom: 4px solid $accent;
	cursor: pointer;
}
// PageButtons component
.page_buttons_div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $subtitle;
}
.page_buttons_div p{
	margin: 0 20px;
}
.page_buttons_div a{
	// padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: $primary;
	border-radius: 5px;
}

// resources/items/
main .resources-items-page{
	display: grid;
	grid-template-columns: 350px 1fr;
	row-gap: 30px;
	column-gap: 30px;
	margin-bottom: 30px;
}
.resources-items-page .items-filter-wrapper{
	grid-column: 1;
}
.resources-items-page .items-list-wrapper{
	grid-column: 2;
}

.resources-items-page .page_buttons_div{
	grid-column: 1 / span 2;
}
.resources-items-page .items-list-wrapper ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.resources-items-page .items-list-wrapper .item{
	display: grid;
	position: relative;
	grid-template-columns: 197px 1fr;
	border-radius: 10px;
}
.resources-items-page .items-list-wrapper .item .bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-box-shadow: 0px 6px 55px -19px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 6px 55px -19px rgba(0,0,0,0.47);
	box-shadow: 0px 6px 55px -19px rgba(0,0,0,0.47);
	border-radius: 12px;
}
.resources-items-page .items-list-wrapper .item .text{
	z-index: 1;
}
.resources-items-page .items-list-wrapper .item .text h2{
	margin-bottom: 10px;
}
.resources-items-page .items-list-wrapper .item .text h3{
	font-size: 20px;
	margin-top: 10px;
}
.resources-items-page .items-list-wrapper .item .text p{
	display: flex;
	justify-content: space-around;
}

.resources-items-page .items-list-wrapper .item .image{
	border-radius: 10px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.resources-items-page .items-list-wrapper li{
	margin-bottom: 20px;
}
.resources-items-page .items-filter-wrapper{
	position: relative;
}
// Resources filter
.resources-items-page .items-filter-wrapper form {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: calc(100% - 2 * 26px);
	padding: 26px;
	z-index: 0;
	-webkit-box-shadow: 0px 6px 55px -19px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 6px 55px -19px rgba(0,0,0,0.47);
	box-shadow: 0px 6px 55px -19px rgba(0,0,0,0.47);
	border-radius: 12px;
}

.resources-items-page .items-filter-wrapper form label {
	font-size: $p;
	// margin: 8px 0;
}

.resources-items-page .items-filter-wrapper form .spacer {
	width: 100%;
	height: 2px;
	background-color: $text;
	border-radius: 2px;
	opacity: 0.2;
	margin: 16px 0 16px 0;
}
.resources-items-page .items-filter-wrapper form .item-color-box, .resources-items-page .items-filter-wrapper form .color-search-box, .resources-items-page .items-filter-wrapper form .submit-reset{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.resources-items-page .items-filter-wrapper form input[type=text]{
	padding: 10px;
	border-radius: 10px;
	border: 3px solid $secondary;
	margin-top: 10px;
	outline: none;
}
.resources-items-page .items-filter-wrapper form input[type=text]:focus{
	border: 3px solid $primary;
}
.resources-items-page .items-filter-wrapper form .lang-label{
	margin-bottom: 10px;
}


.resources-items-page .items-filter-wrapper form input {
	accent-color: $primary;
}
.resources-items-page .items-filter-wrapper form input[type=range] {
	width: 100%;
}
.resources-items-page .items-filter-wrapper form .color-inputs-box.hide{
	display: none;
}
.resources-items-page .items-filter-wrapper form .submit-reset input{
	padding: 10px 20px;
	font-size: $sub;
	border: transparent;
	font-weight: 500;
	border-radius: 10px;
	margin: 0 30px;
}
.resources-items-page .items-filter-wrapper form .submit-reset input:hover{
	opacity: 0.8;
}
.resources-items-page .items-filter-wrapper form .submit-reset input[type=submit]{
	background-color: $primary;
}
.resources-items-page .items-filter-wrapper form .submit-reset input[type=reset]{
	background-color: $secondary;
}

// TOGGLE CHECKBOX
.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 28px;
}

.switch .color-search-checkbox { 
	opacity: 0;
	width: 100%;
	height: 100%;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.color-search-checkbox:checked + .slider {
	background-color: $primary;
}

.color-search-checkbox:focus + .slider {
	box-shadow: 0 0 1px $primary;
}

.color-search-checkbox:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

// CUSTOM RADIO BUTTONS
.radio-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radio-container .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
	border: 2px solid $secondary;

	border-radius: 50%;
}

.radio-container input:checked ~ .checkmark {
	border: 2px solid $secondary;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.radio-container input:checked ~ .checkmark:after {
	display: block;
}

.radio-container .checkmark:after {
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: $primary;
}

// TODO ADD CUSTOM SELECT INPUT