// Light color scheme
	$text: #0d0502;
	$background: #ffffff;
	$background-accent: #f1f1f0;
	$primary: #ea8c66;
	$secondary: #f3bfaa;
	$accent: #b84619;

// Dark color scheme
	// $text: #fafafa;
	// $background: #050505;
	// $background-accent: #000000;
	// $primary: #ea8c66;
	// $secondary: #84422a;
	// $accent: #ed9978;

// Fontsizes
$h1: 48px;
$h2: 32px;
$subtitle: 24px;
$p: 18px;
$sub: 16px;
$small: 14px;

// Neutralne
	$gradient: linear-gradient(120deg, $primary, $accent);

// IMPORTS
	// MISC
	@import 'form_inputs';
	@import 'universal_styles';


	// COMPONENTS
	@import 'components/nav';
	@import 'components/page_buttons';

	// PAGES
	@import 'pages/items_list';
	@import 'pages/item_offers';

// SETTINGS 
body {
	background-color: $background-accent;
	margin: 0;
	font-family: 'Inter', sans-serif;
}
main {
	max-width: 1920px;
	width: calc(100% - 280px);
	padding: 0 70px;
	margin: 0 auto;
	background-color: $background;
	min-height: 100vh;
}
a {
	color: $text;
	text-decoration: none;
}
h1 {
	font-size: $h1;
	color: $text;
}
h2 {
	font-size: $h2;
	color: $text;
	font-weight: 500;
	opacity: 0.8;
	// width: 50%;
	// line-height: 130%;
}
h3{
	font-size: $subtitle;
	font-weight: 500;
	opacity: 0.8;
}