// PageButtons component
.page-buttons-div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $subtitle;
}
.page-buttons-div p{
	margin: 0 20px;
}
.page-buttons-div a{
	// padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: $primary;
	border-radius: 5px;
}